.c-headline {
    text-align: center;
    font-size: 32px;
    position: relative;
    margin: 32px auto;
    padding-bottom: 8px;
    font-weight: bold;
    border-bottom: 4px solid black;

    display: block;
    width: auto;
}