.l-footer {
    height: 144px;
    max-width: 500px;
    width: 95%;
    margin: 0 auto;

    img {
        width: 20%;
        height: auto;
        max-width: 100px;
        display: inline-block;
        vertical-align: middle;
    }

    a {
        text-align: center;
        color: black;
        text-decoration-color: black;
        text-decoration-line: none;
        margin: auto 16px;
        padding: auto 0;
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
    }
}