.l-footer {
    height: 144px;
    max-width: 500px;
    width: 95%;
    margin: 0 auto;    
    img {
        width: 20%;
        height: auto;
        max-width: 100px;
        float: left;
    }

    a {
        text-align: center;
        color: black;
        text-decoration-color: black;
        text-decoration-line: none;
        margin: 16px 16px;
        font-size: 16px;
        overflow: hidden;
        align-self: center;
    }
}