.p-achievement {
    max-width: $width-max;
    width: 95%;
    margin: 0 auto;
    &__year {
        line-height: 1.6em;
        font-size: 20px;
        font-weight: bold;
    }
    &__items {
        line-height: 1.6em;

        ul {
            > li {
                margin-bottom: 16px;
                line-height: 1.6em;
                > ul {
                    margin-left: 30px;
                }
            }
        }
    }
}