@import "../../variable/variable";

.p-hero {
    background-image: url('../image/home.jpg');
    position: relative;
    padding: 16px 0;
    height: 56vh;
    background-position: left center;
    background-size: cover;

    // 写真を暗くする
    &::before {
        // background-color: rgba(0,0,0,0.5);
        /* どの範囲に重ねるかを指定 */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: ' ';  
      }
    img {
        width: 80%;
        max-width: 500px;
    }

    &-introduction {
        background-color: white;
        display: inline-block;
        vertical-align: middle;
        padding-top: calc(56vh/3);
        &__title {
            text-align: center;
            color: white;
            font-size: 32px;
            font-weight: bold;
            line-height: 1.6em;
        }
        &__description {
            text-align: center;
            line-height: 1.6em;
            color: white;
            font-size: 24px;
            font-weight: bold;
        }
    }
}